html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.btn {
    border: 0px;
    border-radius: 8px;
    background-color: #029FAE;
    color: #fff;
}

.flex {
    display: flex;
}

.top-header {
    height: 45px;
    background-color: #272343;
}

.top-header-container {
    align-items: center;
    justify-content: flex-end;
}

.top-p {
    font-size: 13px;
    font-weight: 400;
    list-style: 14px;
    color:  #FFFFFF;
    text-transform: capitalize;
    opacity: 50%;
}

.info-shipping {
    justify-self: flex-start;
    margin-right: auto;
}

.top-header-list {
    /* justify-self: flex-end; */
    justify-content: space-around;
    min-width: 202px;
}

.lang-img {
    width: 7px;
    height: 3.5px;
    margin-top: 5px;
    margin-left: 4px;
}

.help-p {
    width: 65px;
}

.help-img {
    margin-right: 3px;
}

.middle-header {
    height: 84px;
    background-color: #F0F2F3;
}

.south-header-part {
    align-items: center;
}

.main-header-container{
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.header-logo-text {
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
}

.header-input {
    min-width: 413px;
    height: 44px;
}

.links-header-list {
    min-width: 232px;
    justify-content: space-around;
}

.links-header-item {
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    min-width: 44px;
}

.cart-link {
    width: 120px;
    justify-content: space-evenly;
}

.number {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    background-color: #007580;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.buttom-header {
    height: 75px;
}

.buttom-header-container {
    justify-content: space-between;
    padding-top: 14px;
}

.links-item:first-child {
    min-width: 176px;
    height: 47px;
    outline: 1px solid #000;
    align-items: center;
    justify-content: space-evenly;
}

.links-list {
    height: 47px;
    min-width: 547px;
    align-items: center;
    justify-content: space-around;
}

.contact-part {
    align-items: center;
    justify-content: space-around;
}

.hero-container {
    height: 790px;
    background-image: url(../image/Hero-BG.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.hero-desc {
    padding-bottom: 10px;
}

.hero-title {
    padding-bottom: 24px;
}

.header-left-part {
    padding-top: 260px;
    padding-left: 110px;
    max-width: 741px;
}

.header-btn {
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 52px;
    font-weight: 600;
    font-size: 16px;
}

.arrow-vector {
    margin-left: 20px;
}

.hero-desc {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-title {
    font-size: 68px;
    font-weight: 700;
    min-width: 630px;
}

.header-right-part {
    width: 100%;
    background-image: url(../image/Header-BG.png);
    background-repeat: no-repeat;
    padding-top: 82px;
}

.header-image {
    max-width: 475px;
    max-height: 649px;
}

.features-header {
    height: 150px;
    background-color: #fff;
    width: 1320px;
    box-shadow: 0px 24px 100px rgba(22, 25, 50, 0.07);
    border-radius: 12px;
    position: relative;
}

.header-fearues-image {
    max-width: 50px;
    height: 50px;
}

.features-header {
    justify-content: center;
    align-items: center;
}

.header-features-list {
    height: 50px;
    width: 1060px;
    justify-content: space-between;
}

.header-fearues-text-part {
    margin-left: 15px;
}

.item-header {
    font-size: 18px;
    font-weight: 500;
}

.item-desc {
    font-size: 15px;
    font-weight: 400;
    color: #9A9CAA;
}

.header-brands-image {
    height: 139px;
}

.header-brands-list {
    justify-content: space-around;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-section-item {
    width: 312px;
    height: 377px;
    /* background-color: #029FAE; */
}

.product-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
    margin-bottom: 44px;
}

.headiling {
    justify-content: space-between;
}

.product-arrows {
    height: 44px;
}

.first-cicle {
    width: 44px;
    height: 44px;
    border-radius: 26px;
    margin-right: 18px;
    background-color: #007580;
}

.second-cicle {
    width: 44px;
    height: 44px;
    border-radius: 26px;
    background-color: #F0F2F3;
}

.img-circle {
    margin-top: 10px;
    margin-left: 10px;
}

.first-product {
    padding-top: 20px;
    background-image: url(../image/firstProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.label {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 262px;
}

.label-text {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 500;
    font-size: 13px;
    background-color: #01AD5A;
    width: 49px;
    height: 26px;
    border-radius: 4px;
}

.heart-part {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}

.product-icon-part {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: #029FAE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-part {
    justify-content: space-between;
}

.label-second-text {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 500;
    font-size: 13px;
    background-color:  #F5813F;
    width: 49px;
    height: 26px;
    border-radius: 4px;
    margin-bottom: 282px;
}

.second-product {
    padding-top: 20px;
    background-image: url(../image/secondProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.product-new-icon-part {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: #F0F2F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-product {
    padding-top: 20px;
    padding-top: 332px;
    background-image: url(../image/thirdProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.four-product {
    padding-top: 20px;
    padding-top: 332px;
    background-image: url(../image/fourProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.categories-container {
    padding-top: 40px;
    padding-bottom: 20px;
}

.headiling-categories {
    justify-content: space-between;
}

.categories-grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.categories-item {
    /* padding-top: 339px; */
    width: 424px;
    height: 424px;
}

.categories-item {
    border-radius: 10px;
}

.first-category {
    background-image: url(../image/frst-cat.png);
}

.second-category {
    background-image: url(../image/scnd-cat.png);
}

.third-category {
    background-image: url(../image/thrd-cat.png);
}

.text-category-part {
    margin-top: 339px;
    padding-top: 20px;
    padding-left: 20px;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 10px 10px;
}

.text-category-part:hover {
    height: 130px;
    margin-top: 294px;
    cursor: pointer;
}

.category-ttile {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
}

.category-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
}

.our-products-container {
    padding-top: 80px;
    padding-bottom: 40px;
}

.our-products-container {
    align-items: center;
    flex-direction: column;
}

.our-products-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
}

.our-product-list {
    width: 493px;
    justify-content: space-around;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #9A9CAA;
}

.our-product-item:hover {
    color: #000;
    cursor: pointer;
}

.our-product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 34px;
}

.our-product-grid-item {
    width: 312px;
    height: 377px;
}

.firstprod-item {
    padding-top: 20px;
    background-image: url(../image/firstProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.secondprod-item {
    padding-top: 20px;
    background-image: url(../image/secondProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.thirdprod-item {
    background-image: url(../image/thirdProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 332px;
}

.fourprod-item {
    background-image: url(../image/fourProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 332px;
}

.fiveprod-item {
    padding-top: 20px;
    background-image: url(../image/fiveProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.sixprod-item {
    padding-top: 20px;
    background-image: url(../image/sixProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.sevenprod-item {
    background-image: url(../image/sevenProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 332px;
}

.eightprod-item {
    background-image: url(../image/firstProduct.jpg);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 332px;
}

.client-section {
    height: 590px;
    background-color: #f0f2f3;
}

.client-section-container {
    padding-top: 85px;
}

.top-client-part {
    justify-content: space-between;
    margin-bottom: 45px;
}

.client-title {
    font-size: 32px;
    font-weight: 600;
}

.client-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

.client-item {
    padding-top: 40px;
    padding-left: 64px;
    padding-right: 40px;
    width: 648px;
    height: 345px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 8px 40px rgba(39, 35, 67, 0.08);
}

.client-testimonial {
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    border-left: 1px solid #029FAE;
    margin-bottom: 80px;
    height: 120px;
}

.profile-part {
    justify-content: space-between;
}

.text-client-part {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.client-name {
    font-size: 20px;
    font-weight: 500;
}

.client-desc {
    font-size: 16px;
    font-weight: 400;
    color: #9A9CAA;
}